<meta name="keywords" content="SCRAP Robotics, FRC 10063, FIRST Robotics, FIRST Robotics Competition, robotics, first, firstrobotics, competition, team, regionals, matches, videos">
<meta property="og:type" content="sports_team" />
<meta property="og:url" content="{{ page.url | absolute_url }}"/>
<meta property="og:site_name" content="SCRAP Robotics - FRC 10063"/>
<meta property="og:locality" content="Weymouth" />
<meta property="og:region" content="Massachusetts" />
<meta property="og:country-name" content="USA" />
<meta name="robots" content="noodp,noydir" />